/* default option */

.themeless{
    .index-nav{
        position:absolute;
        top:0;
        left:0;
        right:0;
        z-index:20;
        color:#fff;
        text-align:right;
        padding:1em;

        a{
            color:#fff;
            text-decoration:none;
            font-size:16px;
            line-height:1.5em;
            border:1px solid #fff;
            padding:0 1em;
            margin:.2em;
            display:inline-block;
            min-width:56px;
            text-align:center;
            border-radius:4px;
            .transition;

            &:visited{
                color:#fff;
            }
            &:hover{
                background-color:#ccc;
            }
            &.nav-current{
                background-color:#bbb;
            }
        }
    }

    .index-header{
        position:relative;
        min-height:400px;
        background-position:center bottom;
        background-repeat:no-repeat;
        background-size:cover;
        background-color:#666;
        margin-bottom:160px;

        .index-header-bg{
            width:100%;
            vertical-align:bottom;
            min-height:400px;
        }
        .index-header-mask{
            position:absolute;
            left:0;
            top:0;
            bottom:0;
            right:0;
            background-color:#000;
            z-index:1;
            opacity:0.5;
        }


        .blog-logo-panel{
            
            width:1000px;
            height:180px;
            bottom:-90px;
            left:50%;
            margin-left:-500px;
            margin-top:-90px;
            background:none;
            z-index:10;
            position:absolute;

            .blog-logo{
                position:absolute;
                width:160px;
                height:160px;
                left:0;
                top:50%;
                margin-top:-90px;
                overflow:hidden;
                border-radius:90px;
                border:10px solid #fefefe; 
                background-color:#fefefe;
                .transition;

                &:hover{
                	box-shadow:0 0 8px #222;
                }

                img{
                    width:100%;
                    height:100%;
                }
            }
        }
        .blog-title-panel{
            width:1000px;
            height: 200px;
            margin:0 auto;
            color:#fff;
            position:absolute;
            top:50%;
            left:50%;
            margin-top:-100px;
            margin-left:-500px;
            z-index:10;

            .title{
                font-size:48px;
                line-height:1.5em;
                margin:0 0 0.5em 0;
            }
            .description{
                font-size:24px;
                font-weight:lighter;
                line-height:1.5em;
                margin:0;
            }
            .tag-name{
                font-size:40px;
                font-weight:bold;
                line-height:2em;
                margin:0;
            }
            .tag-description, .author-bio{
                margin:0;
                line-height:2em;
                font-size:16px;
            }
            .author-name{
                font-size:40px;
                line-height:1.5em;
                margin:0 0 0.5em;
            }
            .author-loaction, .author-others{
                font-size:16px;
                line-height:1.5em;
                margin:1em 0;
                a{
                    color:#fff;
                    
                    .transition;
                    &:hover{
                        color:#ccc;
                    }
                    &:visited{
                        color:#fff;
                    }
                }
            }
            &.post{
            	.post-title{
					font-size: 40px;
					line-height:1.5em;
					margin:0 0 0.6em;
				}
				section.post-meta{
					margin:0.5em 0;
					font-size:16px;
					color:#fff;
					a{
						color:#fff;
						&:visited{
							color:#fff;
						}
					}
					.meta-item{
						margin-right:1em;
						line-height:2em;

						&.meta-tags{
							a{
								text-decoration:none;
								font-size: 16px;
								line-height:1.5em;
								border:1px solid #fff;
								display:inline-block;
								padding:0 .5em;
								border-radius:4px;
								.transition;

								&:hover{
									color:#fff;
									background-color: #ccc;
								}
							}
						}
					}
				}
            }
        }
        &.author{
            
            .blog-title-panel{
                height:300px;
                margin-top:-150px;
            }
        } 
        .index-blog-back{
            width:1000px;
            height:80px;
            line-height:80px;
            font-size:20px;
            position:absolute;
            z-index:10;
            top:50%;
            left:50%;
            margin-top:-40px;
            margin-left:-500px;
            text-align:right;

            a{
                color:#fff;
                text-decoration:none;
                outline:none;
                .transition;
                &:visited{
                    color:#fff;
                }
                &:hover{
                    color:#ccc;
                }
                &:active{
                    color:#eee;
                }
            }
        }
    }

    .index-content, .post-content{
        width:1000px;
        margin:0 auto;
        min-height:400px;
        padding:0;
    }

    .index-content{
        article.post{
            margin-bottom: 3em;
            border-bottom:1px solid #ccc;
            width:1000px;
            margin:0 auto 4em;

            header.post-header{
                .post-title{
                    font-size:30px;
                    line-height:1.5em;
                    margin: 0.8em 0;

                    a{
                        .transition;
                        text-decoration:none;
                        color:#333;
                    }

                    &:hover{
                        a{
                            color:#999;
                        }
                    }
                }
            }
            section.post-excerpt{
                font-size:16px;
                line-height:2em;
                color:#666;
                p{
                    margin:0.5em 0;
                }
            }
            footer.post-meta{
                margin:1em 0;
                color:#666;
                .meta-item{
                    margin-right:1em;
                    a{
                        color:#666;
                        &:visited{
                            color:#666;
                        }
                    }
                }
            }
        }
        nav.pagination{
            margin:4em 0;
            section.pagination{
                height:30px;
                line-height:30px;
                text-align:center;

                a.paging-btn{
                    display:inline-block;
                    height:30px;
                    line-height:30px;
                    text-decoration:none;
                    color:#555;
                    outline:none;
                    width:80px;
                    border:1px solid #999;
                    text-align:center;
                    cursor:pointer;
                    margin:0 20px;
                    border-radius:4px;
                    .transition;

                    &:visited{
                        color:#555;
                    }

                    &:hover{
                        background-color:#aaa;
                        color:#fff;
                    }
                    &:active{
                        background-color:#666;
                    }
                }
            }
        }
    }
    aside.read-next{
        width:1000px;
        margin: 20px auto;
        padding: 20px 0;
        border-top:1px solid #333;

        .next-post, .prev-post{
            font-size:20px;
            line-height:2em;

            .link-to{
                text-decoration:none;
                font-weight:bold;
                color:#333;
                .transition;
                &:visited{
                    color:#333;
                }
                &:hover{
                    color:#999
                }
            }
        }
    }



    footer.footer{
        background-color:#666;
        min-height:160px;
        color:#fff;
        padding:50px 0;
        box-sizing:border-box;
        margin-top:120px;
        
        a{
            text-decoration:underline;
            &:hover{
                text-decoration:underline;
                color:#fff;
            }
            &:visited{
                color:#fff;
            }
        }

        section.copyright, section.poweredby, section.themeby, section.icp{
            width:1000px;
            text-align:center;
            margin:0 auto;
            color:#fff;
            line-height:2em;

            a{
                color:#fff;
            }
        }
        section.copyright{
            margin-bottom:30px;
        }
        section.poweredby, section.themeby{
            font-size:13px;
            padding-bottom:10px;
        }
        section.icp{
            a{
                text-decoration:none;
            }
        }
    }
}

@media screen and (max-width:1024px){
    .themeless{
        .index-nav{
            padding:20px;
            text-align:left;
        }
        .index-header{
            margin-bottom:80px;
            background-size:auto 100%;
            background-position:center;

            &.author, &.post{
                min-height:500px;
            }

            .index-header-bg{
                display:none;
            }
            .blog-logo-panel{
                width:auto;
                left:20px;
                margin:0;
            }
            .blog-title-panel{
                width:auto;
                left:20px;
                margin-left:0;
            }
        }
        .index-content, .post-content{
            width:auto;
            padding:20px;
        }
        .index-content{
            article.post{
                width:auto;
                margin-bottom:2em;

                section.post-excerpt{
                    font-size:18px;
                }
            }
            nav.pagination{
                margin:1em 0;
            }
        }
        .post-content{
            .post-content{
                padding:0;
            }
        }
        aside.read-next{
            width:auto;
            padding:20px;

            section.next-post, section.prev-post{
                font-size:18px;
            }
        }
        footer.footer{
            margin-top:30px;
            section.copyright, section.poweredby, section.themeby, section.icp{
                width:auto;
                text-align:left;
                padding:10px 20px;
                margin:0;
            }
        }
    }
}
