/* the base and function */
/* global var */
html,
body {
  padding: 0;
  margin: 0;
  background-color: #fefefe;
  font: lighter 16px 'Microsoft YaHei', sans-serif;
  color: #333;
}
a {
  text-decoration: underline;
}
@media screen and (max-width: 1024px) {
  html,
  body {
    font: lighter 20px 'Microsoft YaHei', sans-serif;
  }
}
/* default option */
.themeless .index-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: -500px;
  z-index: 20;
  color: #fff;
  text-align: right;
  padding: 1em;
}
.themeless .index-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5em;
  border: 1px solid #fff;
  padding: 0 1em;
  margin: 0 .2em;
  display: inline-block;
  min-width: 56px;
  text-align: center;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.themeless .index-nav a:visited {
  color: #fff;
}
.themeless .index-nav a:hover {
  background-color: #ccc;
}
.themeless .index-nav a.nav-current {
  background-color: #bbb;
}
.themeless .index-header {
  position: relative;
  min-height: 400px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #666;
  margin-bottom: 160px;
}
.themeless .index-header .index-header-bg {
  width: 100%;
  vertical-align: bottom;
}
.themeless .index-header .index-header-mask {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  z-index: 1;
  opacity: 0.5;
}
.themeless .index-header .blog-logo-panel {
  width: 1000px;
  height: 180px;
  bottom: -90px;
  left: 50%;
  margin-left: -500px;
  margin-top: -90px;
  background: none;
  z-index: 10;
  position: absolute;
}
.themeless .index-header .blog-logo-panel .blog-logo {
  position: absolute;
  width: 160px;
  height: 160px;
  left: 0;
  top: 50%;
  margin-top: -90px;
  overflow: hidden;
  border-radius: 90px;
  border: 10px solid #fefefe;
  background-color: #fefefe;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.themeless .index-header .blog-logo-panel .blog-logo:hover {
  box-shadow: 0 0 8px #222;
}
.themeless .index-header .blog-logo-panel .blog-logo img {
  width: 100%;
  height: 100%;
}
.themeless .index-header .blog-title-panel {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -500px;
  z-index: 10;
}
.themeless .index-header .blog-title-panel .title {
  font-size: 48px;
  line-height: 1.5em;
  margin: 0 0 0.5em 0;
}
.themeless .index-header .blog-title-panel .description {
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.5em;
  margin: 0;
}
.themeless .index-header .blog-title-panel .tag-name {
  font-size: 40px;
  font-weight: bold;
  line-height: 2em;
  margin: 0;
}
.themeless .index-header .blog-title-panel .tag-description,
.themeless .index-header .blog-title-panel .author-bio {
  margin: 0;
  line-height: 2em;
  font-size: 16px;
}
.themeless .index-header .blog-title-panel .author-name {
  font-size: 40px;
  line-height: 1.5em;
  margin: 0 0 0.5em;
}
.themeless .index-header .blog-title-panel .author-loaction,
.themeless .index-header .blog-title-panel .author-others {
  font-size: 16px;
  line-height: 1.5em;
  margin: 1em 0;
}
.themeless .index-header .blog-title-panel .author-loaction a,
.themeless .index-header .blog-title-panel .author-others a {
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.themeless .index-header .blog-title-panel .author-loaction a:hover,
.themeless .index-header .blog-title-panel .author-others a:hover {
  color: #ccc;
}
.themeless .index-header .blog-title-panel .author-loaction a:visited,
.themeless .index-header .blog-title-panel .author-others a:visited {
  color: #fff;
}
.themeless .index-header .blog-title-panel.post .post-title {
  font-size: 40px;
  line-height: 1.5em;
  margin: 0 0 0.6em;
}
.themeless .index-header .blog-title-panel.post section.post-meta {
  margin: 0.5em 0;
  font-size: 16px;
  color: #fff;
}
.themeless .index-header .blog-title-panel.post section.post-meta a {
  color: #fff;
}
.themeless .index-header .blog-title-panel.post section.post-meta a:visited {
  color: #fff;
}
.themeless .index-header .blog-title-panel.post section.post-meta .meta-item {
  margin-right: 1em;
  line-height: 2em;
}
.themeless .index-header .blog-title-panel.post section.post-meta .meta-item.meta-tags a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5em;
  border: 1px solid #fff;
  display: inline-block;
  padding: 0 .5em;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.themeless .index-header .blog-title-panel.post section.post-meta .meta-item.meta-tags a:hover {
  color: #fff;
  background-color: #ccc;
}
.themeless .index-header.author .blog-title-panel {
  height: 300px;
  margin-top: -150px;
}
.themeless .index-header .index-blog-back {
  width: 1000px;
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -500px;
  text-align: right;
}
.themeless .index-header .index-blog-back a {
  color: #fff;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.themeless .index-header .index-blog-back a:visited {
  color: #fff;
}
.themeless .index-header .index-blog-back a:hover {
  color: #ccc;
}
.themeless .index-header .index-blog-back a:active {
  color: #eee;
}
.themeless .index-content,
.themeless .post-content {
  width: 1000px;
  margin: 0 auto;
  min-height: 400px;
  padding: 0;
}
.themeless .index-content article.post {
  margin-bottom: 3em;
  border-bottom: 1px solid #ccc;
  width: 1000px;
  margin: 0 auto 4em;
}
.themeless .index-content article.post header.post-header .post-title {
  font-size: 30px;
  line-height: 1.5em;
  margin: 0.8em 0;
}
.themeless .index-content article.post header.post-header .post-title a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: #333;
}
.themeless .index-content article.post header.post-header .post-title:hover a {
  color: #999;
}
.themeless .index-content article.post section.post-excerpt {
  font-size: 16px;
  line-height: 2em;
  color: #666;
}
.themeless .index-content article.post section.post-excerpt p {
  margin: 0.5em 0;
}
.themeless .index-content article.post footer.post-meta {
  margin: 1em 0;
  color: #666;
}
.themeless .index-content article.post footer.post-meta .meta-item {
  margin-right: 1em;
}
.themeless .index-content article.post footer.post-meta .meta-item a {
  color: #666;
}
.themeless .index-content article.post footer.post-meta .meta-item a:visited {
  color: #666;
}
.themeless .index-content nav.pagination {
  margin: 4em 0;
}
.themeless .index-content nav.pagination section.pagination {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.themeless .index-content nav.pagination section.pagination a.paging-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  color: #555;
  outline: none;
  width: 80px;
  border: 1px solid #999;
  text-align: center;
  cursor: pointer;
  margin: 0 20px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.themeless .index-content nav.pagination section.pagination a.paging-btn:visited {
  color: #555;
}
.themeless .index-content nav.pagination section.pagination a.paging-btn:hover {
  background-color: #aaa;
  color: #fff;
}
.themeless .index-content nav.pagination section.pagination a.paging-btn:active {
  background-color: #666;
}
.themeless aside.read-next {
  width: 1000px;
  margin: 20px auto;
  padding: 20px 0;
  border-top: 1px solid #333;
}
.themeless aside.read-next .next-post,
.themeless aside.read-next .prev-post {
  font-size: 20px;
  line-height: 2em;
}
.themeless aside.read-next .next-post .link-to,
.themeless aside.read-next .prev-post .link-to {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.themeless aside.read-next .next-post .link-to:visited,
.themeless aside.read-next .prev-post .link-to:visited {
  color: #333;
}
.themeless aside.read-next .next-post .link-to:hover,
.themeless aside.read-next .prev-post .link-to:hover {
  color: #999999;
}
.themeless footer.footer {
  background-color: #666;
  min-height: 160px;
  color: #fff;
  padding-top: 50px;
  box-sizing: border-box;
}
.themeless footer.footer a {
  text-decoration: underline;
}
.themeless footer.footer a:hover {
  text-decoration: underline;
  color: #fff;
}
.themeless footer.footer a:visited {
  color: #fff;
}
.themeless footer.footer section.copyright,
.themeless footer.footer section.poweredby,
.themeless footer.footer section.themeby {
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  line-height: 2em;
}
.themeless footer.footer section.copyright a,
.themeless footer.footer section.poweredby a,
.themeless footer.footer section.themeby a {
  color: #fff;
}
.themeless footer.footer section.copyright {
  margin-bottom: 30px;
}
.themeless footer.footer section.poweredby,
.themeless footer.footer section.themeby {
  font-size: 13px;
  padding-bottom: 10px;
}
/* 文章默认样式 */
/* mob */
@media screen and (max-width: 1024px) {
  .themeless-content {
    font-size: 20px;
    font-weight: lighter;
  }
  .themeless-content h1,
  .themeless-content h2,
  .themeless-content h3,
  .themeless-content h4,
  .themeless-content h5,
  .themeless-content h6 {
    font-weight: bold;
    margin: 20px 0;
    line-height: 2em;
  }
  .themeless-content h1 {
    font-size: 30px;
  }
  .themeless-content h2 {
    font-size: 25px;
  }
  .themeless-content h3 {
    font-size: 22.5px;
  }
  .themeless-content h4,
  .themeless-content h5,
  .themeless-content h6 {
    font-size: 20px;
  }
  .themeless-content p {
    margin: 1.6em 0 2em 0;
    font-size: 20px;
    line-height: 2em;
  }
  .themeless-content img {
    margin: .2em 0;
    max-width: 98%;
  }
  .themeless-content a {
    color: #74200a;
    text-decoration: underline;
  }
  .themeless-content a:hover {
    color: #b84b2e;
  }
  .themeless-content a:active {
    color: #a72b09;
  }
  .themeless-content em {
    color: #74200a;
  }
  .themeless-content strong {
    color: #74200a;
    font-weight: bold;
  }
  .themeless-content ul,
  .themeless-content ol {
    margin: 0;
    padding-left: 1.8em;
  }
  .themeless-content ul li,
  .themeless-content ol li {
    line-height: 1.8em;
  }
  .themeless-content pre {
    background-color: #eee;
    padding: 1em;
    border-radius: 2px;
    overflow: auto;
  }
  .themeless-content pre code {
    font-family: "Consolas", "Courier New", sans-serif;
    line-height: 1.6em;
    padding: 0;
    background: none;
  }
  .themeless-content code {
    font-family: "Consolas", "Courier New", sans-serif;
    line-height: 1.6em;
    padding: .1em .2em;
    background-color: #e8e8e8;
  }
  .themeless-content hr {
    height: 0;
    border: none;
    border-bottom: 1px solid #aaa;
    margin: 8px 0;
  }
  .themeless-content blockquote {
    margin: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .themeless-content {
    font-size: 16px;
    font-weight: lighter;
  }
  .themeless-content h1,
  .themeless-content h2,
  .themeless-content h3,
  .themeless-content h4,
  .themeless-content h5,
  .themeless-content h6 {
    font-weight: bold;
    margin: 20px 0;
    line-height: 2em;
  }
  .themeless-content h1 {
    font-size: 24px;
  }
  .themeless-content h2 {
    font-size: 20px;
  }
  .themeless-content h3 {
    font-size: 18px;
  }
  .themeless-content h4,
  .themeless-content h5,
  .themeless-content h6 {
    font-size: 16px;
  }
  .themeless-content p {
    margin: 1.6em 0 2em 0;
    font-size: 16px;
    line-height: 2em;
  }
  .themeless-content img {
    margin: .2em 0;
    max-width: 98%;
  }
  .themeless-content a {
    color: #74200a;
    text-decoration: underline;
  }
  .themeless-content a:hover {
    color: #b84b2e;
  }
  .themeless-content a:active {
    color: #a72b09;
  }
  .themeless-content em {
    color: #74200a;
  }
  .themeless-content strong {
    color: #74200a;
    font-weight: bold;
  }
  .themeless-content ul,
  .themeless-content ol {
    margin: 0;
    padding-left: 1.8em;
  }
  .themeless-content ul li,
  .themeless-content ol li {
    line-height: 1.8em;
  }
  .themeless-content pre {
    background-color: #eee;
    padding: 1em;
    border-radius: 2px;
    overflow: auto;
  }
  .themeless-content pre code {
    font-family: "Consolas", "Courier New", sans-serif;
    line-height: 1.6em;
    padding: 0;
    background: none;
  }
  .themeless-content code {
    font-family: "Consolas", "Courier New", sans-serif;
    line-height: 1.6em;
    padding: .1em .2em;
    background-color: #e8e8e8;
  }
  .themeless-content hr {
    height: 0;
    border: none;
    border-bottom: 1px solid #aaa;
    margin: 8px 0;
  }
  .themeless-content blockquote {
    margin: 1em;
  }
}
